<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyhb.mapper.AppletmallproductMapper" >
  <resultMap id="BaseResultMap" type="com.gyhb.entity.Appletmallproduct" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="ProductName" property="productname" jdbcType="VARCHAR" />
    <result column="ProductNum" property="productnum" jdbcType="VARCHAR" />
    <result column="CategoryId" property="categoryid" jdbcType="VARCHAR" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Detail" property="detail" jdbcType="VARCHAR" />
    <result column="ProductExplain" property="productexplain" jdbcType="VARCHAR" />
    <result column="CoverImg" property="coverimg" jdbcType="VARCHAR" />
    <result column="RecommendReason" property="recommendreason" jdbcType="VARCHAR" />
    <result column="ProductAttribute" property="productattribute" jdbcType="VARCHAR" />
    <result column="IsHot" property="ishot" jdbcType="VARCHAR" />
    <result column="ProductStock" property="productstock" jdbcType="VARCHAR" />
    <result column="ShelfTime" property="shelftime" jdbcType="TIMESTAMP" />
    <result column="OffShelfTime" property="offshelftime" jdbcType="TIMESTAMP" />
    <result column="SaleDeadline" property="saledeadline" jdbcType="TIMESTAMP" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="OldAmount" property="oldamount" jdbcType="DECIMAL" />
    <result column="PayAmount" property="payamount" jdbcType="DECIMAL" />
    <result column="CouponId" property="couponid" jdbcType="VARCHAR" />
    <result column="ShopId" property="shopid" jdbcType="VARCHAR" />
    <result column="CommissionRate" property="commissionrate" jdbcType="VARCHAR" />
    <result column="Attachments" property="attachments" jdbcType="VARCHAR" />
    <result column="Custodian" property="custodian" jdbcType="VARCHAR" />
    <result column="Programme" property="programme" jdbcType="VARCHAR" />
    <result column="CourseId" property="courseid" jdbcType="VARCHAR" />
    <result column="CreatTime" property="creattime" jdbcType="DATE" />
    <result column="UpdateTime" property="updatetime" jdbcType="DATE" />
    <result column="Status" property="status" jdbcType="VARCHAR" />
    <result column="IsDeleted" property="isdeleted" jdbcType="VARCHAR" />
    <result column="Addinfo0" property="addinfo0" jdbcType="VARCHAR" />
    <result column="Addinfo1" property="addinfo1" jdbcType="VARCHAR" />
    <result column="Addinfo2" property="addinfo2" jdbcType="VARCHAR" />
    <result column="Addinfo3" property="addinfo3" jdbcType="VARCHAR" />
    <result column="Addinfo4" property="addinfo4" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryMallPage" parameterType="Map" resultType="com.gyhb.entity.Appletmallproduct">
    SELECT
    *
    FROM
    AppletMallProduct p
    where
        1 = 1
    <if test=" paramsMap.ProductName != null and paramsMap.ProductName != '' ">
      AND p.ProductName like '%${paramsMap.ProductName}%'
    </if>
    <if test=" paramsMap.CategoryId != null and paramsMap.CategoryId != '' ">
      AND p.CategoryId like '%${paramsMap.CategoryId}%'
    </if>
    <if test=" paramsMap.status != null and paramsMap.status != '' ">
      AND p.status = '${paramsMap.ProductName}'
    </if>


  </select>





</mapper>