<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyhb.mapper.AppletmallcouponMapper" >
  <resultMap id="BaseResultMap" type="com.gyhb.entity.Appletmallcoupon" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <id column="StartTime" property="starttime" jdbcType="TIMESTAMP" />
    <id column="EndTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="DATE" />
    <result column="UpdateTime" property="updatetime" jdbcType="DATE" />
    <result column="Status" property="status" jdbcType="VARCHAR" />
    <result column="IsDeleted" property="isdeleted" jdbcType="VARCHAR" />
    <result column="AddInfo0" property="addinfo0" jdbcType="VARCHAR" />
    <result column="AddInfo1" property="addinfo1" jdbcType="VARCHAR" />
    <result column="AddInfo2" property="addinfo2" jdbcType="VARCHAR" />
    <result column="AddInfo3" property="addinfo3" jdbcType="VARCHAR" />
    <result column="AddInfo4" property="addinfo4" jdbcType="VARCHAR" />
    <result column="AddInfo5" property="addinfo5" jdbcType="VARCHAR" />
    <result column="AddInfo6" property="addinfo6" jdbcType="VARCHAR" />
    <result column="AddInfo7" property="addinfo7" jdbcType="VARCHAR" />
  </resultMap>
</mapper>