<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyhb.mapper.AppletuserorderMapper" >
  <resultMap id="BaseResultMap" type="com.gyhb.entity.Appletuserorder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="OrderStyle" property="orderstyle" jdbcType="VARCHAR" />
    <result column="ParentCategory" property="parentcategory" jdbcType="VARCHAR" />
    <result column="Category" property="category" jdbcType="VARCHAR" />
    <result column="WeightStyle" property="weightstyle" jdbcType="VARCHAR" />
    <result column="AppointmentTime" property="appointmenttime" jdbcType="TIMESTAMP" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="Flag" property="flag" jdbcType="VARCHAR" />
    <result column="Validflag" property="validflag" jdbcType="VARCHAR" />
    <result column="AddInfo0" property="addinfo0" jdbcType="VARCHAR" />
    <result column="AddInfo1" property="addinfo1" jdbcType="VARCHAR" />
    <result column="AddInfo2" property="addinfo2" jdbcType="VARCHAR" />
    <result column="AddInfo3" property="addinfo3" jdbcType="VARCHAR" />
    <result column="AddInfo4" property="addinfo4" jdbcType="VARCHAR" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>